 
/* Written by Kyle Hamilton of candpgeneration.com CSS3 transitions - animated dropdown menu without javascript that plays nice in IE7+, FF, CHROME, SAFARI The original bare bones version can be found at: http://candpgeneration.com/CSS-dropdowns/CSS3-dropdown.html You are free to use this code any way you like. Please do not remove this comment. */
/* the main menu */
.navbar-default {
    display:block;
    z-index:1000;
}
.navbar-default > ul{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: box;
    -moz-box-orient: horizontal;
}
.nav ul{
    list-style :none;
    margin:0;
    padding:0;
   /* gets rid of any inherited margins and padding */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    position:relative;
    z-index:1000;
    width:100%;
}
.navbar-default > ul > li {
    position : relative;
    float : left;
    font-size: 15px;
   /* this is here and not above, so that the subs can be made smaller using a % if desired */
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}
.navbar-default > ul > li > a {
    background-color: #f2812c;
   /* orange */
    display:block;
    padding:8px 14px;
    text-decoration:none;
    color:#fff;
   /* make the background-color fade in on roll-over */
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.navbar-default > ul > li > a:hover{
    background-color:#003e71;
   /* grey */
    color:#fff;
   /* light grey */
}
/* the show/hide effects */
/* the drop-down box */
.nav ul ul{
   /* background-color:#e6056f;
    remove. this is for illustration purposes only */
    width:1000px;
   /* you need a width to accomodate tertiary menus */
    position:absolute;
    z-index:100;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
}
/* don't display tertiary box yet */
.navbar-default > ul > li:hover ul ul, .navbar-default > ul > li > a:hover ul ul{
    height:0;
}
/* tertiary drop-down box */
.navbar-default ul ul ul{
    left:170px;
    width:170px;
}
.nav > ul > li:hover ul, .nav > ul > li > a:hover ul, .nav ul ul li:hover > ul, .nav ul ul li a:hover > ul{
    height:520px;
}
/* drop-down item styles */
.navbar-default ul ul li{
    background-color:#003e71;
   /* grey */
    color:#fff;
   /* make the background-color fade in on roll-over */
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
/* unfortunate ie7 gap fix */
.ie7 .nav ul ul li{
    margin-bottom:-3px;
}
.navbar-default ul ul li:hover {
    background-color:#fff;
}
.navbar-default ul ul li a {
    display:block;
    text-decoration:none;
    margin:0 12px;
    padding:5px 0;
    color:#fff;
   /* grey */
}
/* The following six rules set the lines in between menu items. To make this play nice in IE, we will not be using nth-child but the "+" sibling slector. */
.navbar-default ul ul ul li a{
    border:none !important;
}
.navbar-default ul ul ul li + li a{
    border-top:1px dotted #999 !important;
}
.navbar-default ul ul li + li a{
    border-top:1px dotted #999;
}
.navbar-default ul ul li:hover + li a{
    border-top:1px solid #eaeaea;
}
.navbar-default ul ul ul li:hover + li a{
    border: 0 !important;
}
.navbar-default ul ul ul li:hover + li{
    border-top:1px solid #999 !important;
}
.navbar-default ul ul li a:hover, .navbar-default ul ul li:hover > a {
    color:#003e71;
}
