#header{
    background:#003e71;
    color:#f2812c;
}
h1{
    font-family: 'Gothic A1', sans-serif;
    color:#f2812c;
}
h2{
   font-family: 'Gothic A1', sans-serif;
    color:#f2812c;
}
h3{
   font-family: 'Gothic A1', sans-serif;
    color:#f2812c;
}
h4{
   font-family: 'Gothic A1', sans-serif;
    color:#f2812c;
}
h5{
   font-family: 'Gothic A1', sans-serif;
    color:#f2812c;
}
p{
   font-family: 'Gothic A1', sans-serif;
}
.nav{
    background:#f2812c;
}
.form-control-white{
    background:#fff;
    color:#003e71;
}
.blueWhite:target{
    height: 500px;
    background:#003e71;
    transition: all .5s ease-in;
}
.blueWhite{
    color:#fff;
    background:#003e71;
    transition: all .3s ease-in;
}
.blueWhite a:hover{
    color:#fff;
    background:#003e71;
    transition: all .3s ease-in;
}
.orange{
    color:#f2812c;
}
#myCarousel{
    margin:0;
}
.logo{
    width:100%;
    height:auto;
}
.productPageImages{
    height:auto;
    width:100%;
}
.form-control{
    margin-top:10px;
    margin-bottom:10px;
    background:#fff;
    color:#f2812c;
}
#footer{
    width: 100%;
    margin-top:50px;
    padding:30px;
    background:#003e71;
    color:#fff;
}
