{% extends "template.html" %} {% block content %} {{ error }} {% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">
            &times;
          </button> {{ message }}
</div>
{% endfor %}
<div class="container">
   <div class="row">
       <div class="col-sm-12">
           <h2>Sorry we couldn't find the page you were looking for there, please return to the homepage and try again!</h2>
       </div>
   </div>
</div>
{% endblock %}