{% extends "template.html" %} {% block content %} {% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">
            &times;
          </button> {{ message }}
</div>
{% endfor %}
<h1>Cable Tray Systems</h1>
<div class="row">
    <div class="col-sm-6">
        <h2>General Introduction</h2>

        <p>The Aitkens Cable Tray Systems are a comprehensive package of products completely manufactured at our premises in Scotland. The systems designs benefit from being produced on a flexible combined CAD / CAM / CNC manufacturing cells, all supported by the well established Aitken sales organisation and company reputation.
        </p>
        <p>Generally Aitkens Cable Tray Systems comprise three specific product groups, being System L (Light Duty Tray sections) System M (Medium Duty Return Flange Tray sections) and System H (Heavy Duty Return Flange Tray sections), each complemented with a full selection of fittings and accessories to provide the client with a product to suit all installation requirements.
        </p>
        <p>Systems lengths are produced as standard in a 3 metre format, manufactured from sheet steel into a channel section, to provide cable management in all commercial and industrial installation environments. Tray beds are perforated at a minimum of 12%.
        </p>
        <p>Systems fittings are designed to be fully compatible with products lengths, adopting a ‘one piece’ design concept where practical and incorporating integral couplers to minimise installation time.
        </p>

    </div>
    <div class="col-sm-4">
        <img src={{url_for( 'static', filename="images/CableTraySystems.jpg" )}} alt="Image of cable tray systems for Aitken">
    </div>

</div>

<div class="row">
    <div class="col-sm-6">
        <h2>General Specification</h2>

        <p>All systems are produced in accordance with appropriate standards and specifications, and are subject to stringent internal production control procedures to ensure product reliability and quality is maintained in all instances.
        </p>
        <p>The systems are produced as standard from pre-coated galvanised steel which is procured to comply with the requirements of BS EN 10327 : 2004, with a zinc coating weight of 275g/m2 (Z275), providing a nominal coating thickness of 15μm (microns) or 0.015mm. The recommended (BSC) general product life expectancy is 2 – 5 years (external – coastal / industrial and urban), 5 – 10 years (external – suburban and rural) and 20 – 50 years (internal – dry and unpolluted). For wet and polluted environments alternative non standard solutions are available on request.
        </p>
    </div>

    <div class="col-sm-6">
        <h2>Alternative materials and finishes (non-standard available to order)
        </h2>
        <table class="table table-bordered">
            <th>Substrate material</th>
            <th>Finish</th>
            <tr>
                <td>Mild Steel</td>
                <td>Post Galvanised (BS EN 10130 : 2006 and Hot Dip Galvanised after manufacturing to BS EN 1461 : 1999</td>
            </tr>
            <tr>
                <td>Pre-Galvanised Steel</td>
                <td>Epoxy powder coated or Stove enamelled</td>
            </tr>
            <tr>
                <td>Pre-Galvanised Steel</td>
                <td>Nylon coated or Polyester powder coated</td>
            </tr>
            <tr>
                <td>Stainless Steel grade 316 (marine)</td>
                <td>Mill finish (2B)</td>
            </tr>
            <tr>
                <td>Stainless Steel grade 304</td>
                <td>Mill finish (2B)</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>
            Light Duty Tray System
        </h3>
        <h4>
            Central Deflection
        </h4>
        <img src={{url_for( 'static', filename="images/LightCableTraySystems.jpg" )}} alt="Image of cable tray systems for Aitken">

    </div>
    <div class="col-sm-6">
            <h3>
                Medium Duty Tray System
            </h3>
            <h4>
                Central Deflection
            </h4>
            <img src={{url_for( 'static', filename="images/MedCableTraySystems.jpg" )}} alt="Image of cable tray systems for Aitken">
    
        </div>
</div>
<div class="row">
        <div class="col-sm-6">
            <h3>
                Heavy Duty Tray System
            </h3>
            <h4>
                Central Deflection
            </h4>
            <img src={{url_for( 'static', filename="images/HeavyLightCableTraySystems.jpg" )}} alt="Image of cable tray systems for Aitken">
    
        </div>
        <div class="col-sm-6">
                <p>The performance characteristics given, are offered as a nominal indication of the safe working loads that can be expected for each product type, being based on a simulated continous run condition.</p>

                <h5>Definitions and Units</h5>
               <ul>
                   <li>Uniformly Distributed Load (kg/m) – The load applied uniformly to each span, given a continuous multispan condition.</li>
                   <li>Span (m) – Linear distance between section supports.</li>
                   <li>Central Deflection (mm) – The maximum vertical (assumed at 1/180th of the span) deflection mid-span central of the tray bed.</li>
                   <li>Section Capacity (kg/m) – The calculated maximum load requirement for a nominally 75% full cable situation, based on a net cable weight factor of 0.0021g/mm³. Indicated on the graphs as dashed lines.</li>
               </ul>
                <p>The load characteristics show are provided only as a guide, in good faith, without accepting any liability in contract, in the event of the installation performance varying from that shown.
</p>
<a class="btn btn-warning" href={{ url_for ( 'items', search="cable_tray" ) }}>See Cable Tray Products Here</a>

        </div>
    </div>

{% endblock %}