{% extends "template.html" %}

{% block content %}

{{ error }}
{% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          {{ message }}
      </div>
    {% endfor %}
  <h1>Edit Entry</h1>
  <p class="important">
    <div class="container">
        <button class="btn btn-danger" id="deleteBtn"><a class="btn btn-danger disabled" id="disabledBtn" href={{url_for('deleteEntry', data=data[1])}}>Delete Entry</a></button>

<form method="POST" action='' enctype="multipart/form-data">
    {{ form.hidden_tag() }} {{ form.csrf_token() }}


            
    <label for="itemName">Item Name</label>
    {% if request.method == 'POST' %}
    {% for error in form.itemName.errors %}
    <span class="errors">[{{ error }}]</span>
    {% endfor %}
    {% endif %}
    {{ form.itemName(class="form-control", value=data[0]) }}

    <label for="modelRef">Model Ref</label>
    {% if request.method == 'POST' %}
    {% for error in form.modelRef.errors %}
    <span class="errors">[{{ error }}]</span>
    {% endfor %}
    {% endif %}
    {{ form.modelRef(class="form-control", value=data[1]) }}

    <label for="modelNumber">Model Number</label>
    {% if request.method == 'POST' %}
    {% for error in form.modelNumber.errors %}
    <span class="errors">[{{ error }}]</span>
    {% endfor %}
    {% endif %}
    {{ form.modelNumber(class="form-control", value=data[2]) }}

    <label for="itemCategory">Item Category</label>
    {% if request.method == 'POST' %}
    {% for error in form.itemCategory.errors %}
    <span class="errors">[{{ error }}]</span>
    {% endfor %}
    {% endif %}
    {{ form.itemCategory(class="form-control") }}    

    <label for="measurements">Item Measurements</label>
    {% if request.method == 'POST' %}
    {% for error in form.measurements.errors %}
    <span class="errors">[{{ error }}]</span>
    {% endfor %}
    {% endif %}
    {{ form.measurements(class="form-control", select=data[3]) }}   

    <label for="value">Value</label>
    {% if request.method == 'POST' %}
    {% for error in form.value.errors %}
    <span class="errors">[{{ error }}]</span>
    {% endfor %}
    {% endif %}
    {{ form.value(class="form-control", value=data[4]) }} 

    <label for="measurements2">Item Measurements</label>
    {% if request.method == 'POST' %}
    {% for error in form.measurements2.errors %}
    <span class="errors">[{{ error }}]</span>
    {% endfor %}
    {% endif %}
    {{ form.measurements2(class="form-control", select=data[5]) }}  
    
    <label for="value2">Value</label>
    {% if request.method == 'POST' %}
    {% for error in form.value2.errors %}
    <span class="errors">[{{ error }}]</span>
    {% endfor %}
    {% endif %}
    {{ form.value2(class="form-control", value=data[6]) }} 


    <label for="measurements3">Item Measurements</label>
    {% if request.method == 'POST' %}
    {% for error in form.measurements3.errors %}
    <span class="errors">[{{ error }}]</span>
    {% endfor %}
    {% endif %}
    {{ form.measurements3(class="form-control", select=data[7]) }}
    
    <label for="value3">Value</label>
    {% if request.method == 'POST' %}
    {% for error in form.value3.errors %}
    <span class="errors">[{{ error }}]</span>
    {% endfor %}
    {% endif %}
    {{ form.value3(class="form-control", value=data[8]) }} 

    <label for="measurements4">Item Measurements</label>
    {% if request.method == 'POST' %}
    {% for error in form.measurements4.errors %}
    <span class="errors">[{{ error }}]</span>
    {% endfor %}
    {% endif %}
    {{ form.measurements4(class="form-control", select=data[9]) }}
    
    <label for="value4">Value</label>
    {% if request.method == 'POST' %}
    {% for error in form.value4.errors %}
    <span class="errors">[{{ error }}]</span>
    {% endfor %}
    {% endif %}
    {{ form.value4(class="form-control", value=data[10]) }} 
   

    {{ form.submit(class="btn btn-danger") }}

</form>
    </div>

    <script>

        document.getElementById("deleteBtn").addEventListener("click", function() {
          var retVal = confirm("Once an entry has been deleted it can not be restored and will need to be re-entered through the add entry form.\nDo you wish to delete?");
               if( retVal == true ) {
                  document.getElementById("disabledBtn").classList.remove("disabled");
                  return true;
               } else {
                  alert("User does not want to delete!");
                  return false;
               }
        });
            </script>
{% endblock %}

