{% extends "template.html" %}
{% block content %}

      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          {{ message }}
      </div>
    {% endfor %}
  <h1>Index</h1>
  <p class="important">
    Welcome to the admin panel.</p>
    <p>Please log in or sign up to continue</p>
    <a href={{url_for('login')}}>Log in</a>
    <a href={{url_for('register')}}>Sign up</a>
{% endblock %}