{% extends "template.html" %}
{% block content %}

      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>
          {{ message }}
      </div>
    {% endfor %}
  <h1>Welcome to Aitkens</h1>
    <p><b class="orange">Aitkens</b> are an independent company, family owned and run. We are a major importer and cable management manufacturer based in Glasgow, Scotland. Our head office is located in Rutherglen with a 65,000 sq ft factory incorporating a trade counter, distribution and manufacturing plant. The company was established in 1977 and has built up an enviable reputation supplying the ‘first-fix’ market throughout the UK through our wholesaler / distribution partners & stockists, backed up with a growing branch network of distribution hubs currently in Leeds & Manchester. With our experienced and flexible sales force we have never been better placed to service the industry.</p>
    <b class="orange"><p>2017 saw our 40th year in business, something we are very proud off and it’s a testament to our loyal staff members and our customers, without them both our business wouldn’t be valid.
    </p></b>
    <p>Aitkens have a policy of continual re-investment both in up to date machinery in our manufacturing/pre-fab workshop and service sectors, this ensures that we keep our manufacturing costs as low as possible allowing us to be highly competitive in a demanding marketplace. Further investment in vehicles, staff, stock and IT help us to maintain our growing business and meet our future aspirations. Strong relationships with our suppliers and customers allow us to move with the times and mould our stock profile to the ever changing needs of the industry.</p>
<h2>
  Our brochure is now online
</h2><p>Click the image to be taken to a online version of our brochure.</p>
<div class="col-sm-2"><a href="https://issuu.com/aitkens/docs/3d"><img class="productPageImages" src={{url_for('static', filename='images/brochure.jpg')}}></a>
</div>
{% endblock %}