{% extends "template.html" %}

{% block content %}
  <h1>Index</h1>
  <p class="important">
      <div class="container">
         <form method="post">
        
        
        <label for="username">Username</label>
        {% if request.method == 'POST' %}
        {% for error in form.username.errors %}
        <span class="errors">[{{ error }}]</span>
        {% endfor %}
        {% endif %}
        {{ form.username(class="form-control") }}

        <label for="password">Password</label>
        {% if request.method == 'POST' %}
        {% for error in form.password.errors %}
        <span class="errors">[{{ error }}]</span>
        {% endfor %}
        {% endif %}
        {{ form.password(class="form-control") }}

        <label for="emailAddress">Email Address</label>
        {% if request.method == 'POST' %}
        {% for error in form.emailAddress.errors %}
        <span class="errors">[{{ error }}]</span>
        {% endfor %}
        {% endif %}
        {{ form.emailAddress(class="form-control") }}

        {{ form.submit(class="btn btn-danger") }}
    </form> 
      </div>
    


    <form 
{% endblock %}